aws_region             = "ap-south-1"
project_name           = "ticketdesk"
environment            = "dev"
vpc_cidr               = "10.20.0.0/16"
public_subnet_az1_cidr = "10.20.1.0/24"
public_subnet_az2_cidr = "10.20.2.0/24"
private_subnet_az1_cidr = "10.20.11.0/24"
private_subnet_az2_cidr = "10.20.12.0/24"
ecs_desired_count      = 1
ecs_cpu                = 256
ecs_memory             = 512
container_port         = 8000
ecr_image              = "956118719056.dkr.ecr.ap-south-1.amazonaws.com/ticketdesk-api:846d908"
